{{ 'jquery.mCustomScrollbar.css' | asset_url | stylesheet_tag }}
{{ 'jquery.mCustomScrollbar.min.js' | asset_url | script_tag }}

<div class="custom-product">
    <div class="row">
        <div class="twelve columns h-center">
            <div class="main-pic">
                <div id="previewImg"></div>
                <h3 class="price h-center" style="display:none">Price: <span id="selectedPrice"></span></h3>
            </div>
        </div>

        <div class="four columns sidebar">
            <div class="clasp  h-center">
                <h1>Choose Your Clasp</h1>
                <% if @products %>
                <ul>
                    <% @products.each_with_index do |product, index| %>
                        {% assign product = all_products['<%= product.handle %>'] %}
                        {% assign alt_text = product.featured_image.alt %}
                        <li id="clasp_{{ product.handle }}" <%="class=selected" if index == 0 %>>
                            <% if index == 0 %>
                                {% assign handle = product.handle %}
                            <% end %>
                            <a href="/apps/customize/<%= @next_step.step_url %>/{{ product.handle }}" data-preview="{{ product.handle }}" class="claspLink">
                                <img src="{{ product.images[0].src | product_img_url: 'compact' }}" alt="{{ alt_text | escape }}" />
                            </a>
                        </li>
                    <% end %>
                </ul>
                <% end %>
            </div>
        </div>
    </div>

    <div class="row" id="leathers" style="display:none">
        <div class="col-md-12 h-center">
            <div class="clr-n-style">
                <h2>Choose Youre Leather</h2>
                <div id="leather-list">
                    Loading ...
                </div>
            </div>
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-md-10 place-center">
            <h2 class="h-center">Description</h2>
            <p id="selectedDescription"  class="h-center">
                Loading ...
            </p>
        </div>
    </div>

    <br />
    <div class="row" id="variants-list">
        <div class="col-md-10  place-center size h-center">
            <h2>Select Your Size</h2>
            <div id="selectedVariants">
                Loading ...
            </div>
        </div>
        <div class="h-center size-gude"><a href="http://www.facaintlaffair.com/pages/size-guide" target="_blank"> Size Guide</a> </div>
        <div class="h-center add-to-cart" style="display:none;" id="addToCartBtn"><a href="/cart/add" onclick="var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href; var v = document.createElement('input'); v.setAttribute('type', 'hidden'); v.setAttribute('name', 'id'); v.setAttribute('value', variant); f.appendChild(v); f.submit(); return false;"> Add to Cart</a> </div>
    </div>
</div>

<script>
var claspHandle = '{{ handle }}';
var leatherHandle = '';
var variant = '';
$(document).ready(function() {
    $.ajax({
      url: "/apps/customize/step/<%= @step.next_step_id %>",
    }).done(function(result) {
        $("#leathers").show();
        $("#leather-list").html(result);
    });

    $("a.claspLink").click(function(e) {
        e.preventDefault();
        $("li#clasp_"+claspHandle).removeClass('selected');
        claspHandle = $(this).data('preview');
        $("li#clasp_"+claspHandle).addClass('selected');
        loadPreview();
    });
});

function loadPreview() {
    $.ajax({
      url: "/apps/customize/show",
      data: "handle="+claspHandle+"-"+leatherHandle+"&size=large"
    }).done(function(result) {
      $("#previewImg").html(result);
      $("#selectedDescription").html($("#descriptionShow").html());
      $("#selectedPrice").html($("#priceShow").html());
      $("#selectedVariants").html($("#variantsShow").html());
      $("#variants-list").show();
      $('h3.price').show();
      $("a.sizeBtn").click(function(e) {
          e.preventDefault();
          $("li#livariant_"+variant).removeClass('selected');
          variant = $(this).data('id');
          $("li#livariant_"+variant).addClass('selected');
          $("#selectedPrice").html($(this).data('price'));
          $("#addToCartBtn").show();
      });
    });
    $("img.cloudzoom").CloudZoom();
}

/*
(function($){
   $(window).load(function(){
        $(".clasp.h-center ul").mCustomScrollbar({
         theme:"minimal"
        });
   });
})(jQuery);*/
 </script>
