{% layout none %}
{% assign preview = all_products.<%= params[:handle] %> %}

<a href="{{ preview.images[0].src | product_img_url: 'master' }}" class="fancybox" title="{{  preview.images[0].alt | escape }}">
  <img src="{{ 'loader.gif' | asset_url }}" data-src="{{ preview.images[0].src | product_img_url: '<%= @size %>' }}" data-src-retina="{{ preview.images[0].src | product_img_url: '1024x1024' }}" data-image-id="{{ preview.images[0].id }}" />
</a>

<!--<img src="{{ preview.images[0].src | product_img_url: '<%= @size %>' }}">-->

<div id="descriptionShow" style="display:none">{{ preview.description}}</div>
<div id="priceShow" style="display:none">{{ preview.price | money }}</div>
<div id="variantsShow" style="display:none">
    <ul>
    {% for variant in preview.variants %}
        <li id="livariant_{{ variant.id }}"><a href="#" class="sizeBtn" data-id="{{ variant.id }}" data-price="{{ variant.price | money }}">{{ variant.title }}</a></li>
    {% endfor %}
    </ul>
</div>
